

.layoutWrapper{
    display: grid;
    grid-template-columns: 300px 1fr;   
    
    @media (max-width: 926px){
        grid-template-columns: 1fr;   
    }
}

.contentWrapper{
    background: #F9F9F9;
}


.sidebarWrapper{
    position: relative;
    background-color: #4B4DED;
}



.navbar{
    position: sticky;
    top: 0;
    height: 87px;
    display: grid;
    grid-template-columns: 350px 1fr 313px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 200;

    @media (max-width: 1300px){
        grid-template-columns: 350px 1fr 256px;
    }

    @media (max-width: 1200px){
        grid-template-columns: 0.5fr 1fr 200px;
    }

    @media (max-width: 926px){
        display: none;
    }
    
    
}

.navbar > h4{
    font-size: 32px;
    font-weight: 400;
    padding-left: 50px;
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #BEBEBE;
    border-right: none;
    color: #000050;

    @media (max-width: 1200px){
        font-size: 26px;
        padding-left: 50px;
    };

    @media (max-width: 1050px){
        font-size: 24px;
        padding-left: 20px;
    };
    
}

.navbar > div:nth-of-type(1) {
    border: 1px solid #BEBEBE;
    width: 100%;
    padding-inline: 39px;
    align-items: center;
    display: flex;
    border-right: none;
}

.navbar > div:nth-of-type(2){
    border: 1px solid #BEBEBE;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-right: none;

    @media (max-width: 1200px){
        gap: 10px;
    }
}

.navbar  > div:nth-of-type(2) > div{
    display: flex;
    font-weight: 700;
    align-items: center;
}

.navbar > div:nth-of-type(2) > div > span{
    font-size: 16px;
    line-height: 21.79px;
    color: #4E4E4E;
    margin-left: 7px;
}

.navbar > div:nth-of-type(1) > div{
    
    border: 1px solid #4E4E4E;
    width: 100%;
    border-radius: 8px;
    height: 48px; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding-right: 12px;
}





.navbar input{
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #BEBEBE;
    padding-left: 10px;
    width: 100%;
}

.navbar2 {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    padding-inline: 25px;

    @media (max-width: 926px){
        display: flex;
    }
}


.navbar2 > div {
    display: flex;
    align-items: center;

}

.navbar2 > div > div {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color:#BEBEBE;
}

.content{
    padding: 48px;

    @media (max-width: 926px){
        padding-inline: 25px;
    }
    
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar> div:nth-of-type(1) {
   display: flex;
   flex-direction: column;
   gap: 20px;

   @media (max-width: 926px){
    display: none;
    }
}

.sidebar > div:nth-of-type(1) > div{
    background-image: url(../../public/schoollogo.svg);
    margin: auto;
    margin-top: 40px;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: 50% 50%;
    border-radius: 50%;
    background-size: 85%;
}

.sidebar > div:nth-of-type(1) > h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    color: #ffffff;
    text-align: center;
}

.sidebar > div:nth-of-type(2){
    display: none;
   
    @media (max-width: 926px){
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
}

.sidebar > div:nth-of-type(3){
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 13px;

    @media (max-width: 926px){
        padding-top: 35px;
    }
}



.sidebar > div:nth-of-type(4){
    position: absolute;
    bottom: 0;
    padding-inline: 42px; 
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #ffffff;
    
    @media (max-width: 926px){
        display: none;
    }
    
}

.displaySide1{
    display: none;
    @media (max-width: 926px){
        display: block;
    }
}

.displaySide2{
    display: block;
    @media (max-width: 926px){
        display: none;
    }
}

